@import '../Common.css';

.quiz-home-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightgray-color);
	text-align: center;
    height: 100vh;
    padding-top: 3%;
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    text-align: center;
}

.home-sub-container{
  border: 2px solid var(--primary-bg);
   background-color: var(--white-color);
  border-radius: 10px;
}

.home-sub-container img{
    object-fit: contain;
    max-width: 10rem;
    max-height: 10rem;
}

.table-container{
    max-height: max-content;
}

table {
    border-collapse: collapse;
    width: 100%;   
}

table th{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}

table td{
    background-color: var(--white-color);
}

table .que-num{
    width:10%;
}

table .que{
    width: 60%;
}

table .ans{
    width: 30%;
}
  
tr:hover {
    background-color: var(--tertiary-color);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {       
        width: 100%;
    }

    .quiz-home-box{
        height: max-content;
        padding-top: 2.5rem;
    }

    .home-container {
        flex-direction: column;
    }

    .table-container{
        width:100%;
        overflow-x:auto;
        max-height: max-content;
    }
}
